<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="U3M.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <U3M.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>657, 549</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameDir" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\DARK SOULS III\Game</value>
            </setting>
            <setting name="Data1Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Data2Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Data3Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Data4Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Data5Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DLC1Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DLC2Checked" serializeAs="String">
                <value>True</value>
            </setting>
        </U3M.Properties.Settings>
    </userSettings>
</configuration>